@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  min-height: 100vh;
  font-family: 'Press Start 2P', cursive;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.hide_cursor {
  cursor: none !important;
}

.black_bg {
  background: black;
}

.blue_bg {
  background: blue;
}

.yellow_text {
  color: #ff0;
}

.blue_text {
  color: blue;
}

.white_text {
  color: white;
}

.flex {
  display: flex;
}

.jc_sb {
  justify-content: space-between;
}

.jc_c {
  justify-content: center;
}

.width30pc {
  width: 30%;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.pd10 {
  padding: 10px;
}
