body {
  min-height: 100vh;
  font-family: Teletekst, serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hide_cursor {
  cursor: none !important;
}

.black_bg {
  background: black;
}

.yellow_text {
  color: #ff0;
}

.blue_text {
  color: blue;
}

.white_text {
  color: white;
}

.flex {
  display: flex;
}

.jc_sb {
  justify-content: space-between;
}

.width30pc {
  width: 30%;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

@font-face {
  font-family: "Teletekst";
  src: url("Teletekst.ttf");
}

.heading {
  background: blue;
  display: flex;
  justify-content: center;
  padding: 10px;
}
