@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  min-height: 100vh;
  font-family: "Press Start 2P", cursive;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.square {
  height: 1em;
  width: 1em;
  color: black;
  border-top: black 3px solid;
  border-left: black 3px solid;
  border-right: black 3px solid;
  background: white;
  padding: 5px 5px 3px;
}

.black_shadow_top {
  text-shadow: 0 -4px black;
}

.white_shadow_surround {
  text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
}

.hide_cursor {
  cursor: none !important;
}

.black_bg {
  background: black;
}

.blue_bg {
  background: blue;
}

.yellow_text {
  color: #ff0;
}

.blue_text {
  color: blue;
}

.white_text {
  color: white;
}

.black_text {
  color: black;
}

.flex {
  display: flex;
}

.jc_sb {
  justify-content: space-between;
}

.jc_c {
  justify-content: center;
}

.width30pc {
  width: 30%;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.pd10 {
  padding: 10px;
}
